* {
  font-family: "Montserrat", sans-serif;
}

.my-container {
  margin: 0 10vw;
}

nav {
  margin-top: 20px;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 10vw;
}

.my-thought {
  margin-top: 40px;
  margin-bottom: 50px;
}

.my-title {
  font-size: 48px;
  font-weight: 800;
}

.my-main nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.my-main nav ul li {
  margin: 0;
}
